.cart:last-of-type {
  margin-left: auto;
}

.menuheadArea {
  background: rgb(65, 131, 255);
  top: 0%;
  height: 4rem;
  width: 100%;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.menuLogo_Image {
  height: auto;
  width: auto;
  margin-left: 2rem;
}
.menuName {
  padding-left: 1rem;
}

.cardsArea {
  background-color: rgba(243, 243, 243, 0.952);
  height: 100%;
  width: auto;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
}

.card {
  background-color: rgb(255, 255, 255);
  height: 30rem;
  width: 20rem;
  text-align: center;
  margin: 3rem;
  /* margin-left: 5rem;
  margin-right: 5rem; */
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  box-shadow: 5px 5px 5px rgba(156, 153, 153, 0.863);
}

.card:hover {
  box-shadow: 5px 5px 5px 5px rgba(156, 153, 153, 0.863);
}
.card_image {
  max-width: auto;
  height: 50%;
}

.card_content {
  background-color: rgb(190, 224, 255);
  max-width: auto;
  height: 60%;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.textcard {
  padding: 0%;
  margin: 0%;
  text-align: center;
}

.butPLusMinus {
  color: rgb(255, 255, 255);
  width: 3.5rem;
  height: 2.2rem;
  background-color: rgb(56, 98, 224);
  border: none;
  border-radius: 0.3em;
  margin: 1rem;
}

.cartbut button {
  color: rgb(255, 255, 255);
  width: 5rem;
  height: 2.2rem;
  background-color: rgb(56, 98, 224);
  border: none;
  border-radius: 0.3em;
}
